*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background: rgb(176, 115, 230);
}



.container{
    margin: 0 auto; 
    
   max-width: 1500px;
    background: white;
    padding: 20px 20px 20px 20px;
    border-style: dashed;
    border-color: rgb(226, 55, 84); 
}

.container h1{
    padding-bottom: 5px;
   margin-top: 10px;
}

.form-control{
    margin: 20px;
    
    
}

.form-control input {
    border: 0;
    padding: 5px;
    outline-style: dashed;
    outline-color:rgb(226, 55, 84);
    margin-left: 5px;
    
}

 #nome{
    margin-left: 20px;
}

#email{
    margin-left: 23px;
}


.form-control2 input{
    border: 0;
    padding: 5px;
    outline-style: dashed;
    outline-color:rgb(226, 55, 84);
    margin-left: 5px;
    
}


  .catalago{
    margin: 0 auto; 
    max-width: 1500px;
    padding: 20px 20px 20px 20px;
    border-style: dashed;
    border-color: rgb(226, 55, 84); 
    margin-top: 20px;
    margin-bottom: 1500px;
    background: white;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 

  }

  .img{
 
    border-style: dashed;
    padding: 10px;
    max-width: 200px; 
    border-color: rgb(226, 55, 84); 
    margin: 0 auto;
    
  }

  .img img{
    width: 100%; 
    height: auto; 
  }

  img p{
    margin: 10px 0;
  }

  .img button{
    display: block;
    margin: 0 auto;
    

  }

  .logo{
   margin-left:900px;
   margin-right: 400px;
   margin-top: -200px;
   
  }

  .logo img{
    height: 200px;
  }

 

 

